* {
  text-align: center;
}

table {
  margin-left: 30%;
  margin-right: 30%;
  width: 40%;
  height: 568px;
  border-collapse: collapse;
  border-spacing: 1px;
}

tbody {}

td {
  padding: 0;
  border: solid black 2px;
  vertical-align: middle;
}

.box-oline-top {
  border-top: solid black 4px;
}

.box-oline-bottom {
  border-bottom: solid black 4px;
}

.box-oline-left {
  border-left: solid black 4px;
}

.box-oline-right {
  border-right: solid black 4px;
}

textarea {
  height: 100%;
  width: 100%;
  padding: inherit;
  border: 0;
  font-size: 25px;
  vertical-align: middle;
  resize: none;
  padding-top: 16px;
}

button {
  height: 25px;
  width: 80.55px;
  border-radius: 50px;
}