* {
  text-align: center;
}

body {
  background-color: #0A101D;
  color: #748CAB;
}

table {
  margin-left: auto;
  margin-right: auto;
  width: 560px;
  height: 560px;
  border-collapse: collapse;
  border-spacing: 1px;
}

td {
  padding: 0;
  border: solid #B1B1FF 2px;
  vertical-align: middle;
}

.box-oline-top {
  border-top: solid #B1B1FF 4px;
}

.box-oline-bottom {
  border-bottom: solid #B1B1FF 4px;
}

.box-oline-left {
  border-left: solid #B1B1FF 4px;
}

.box-oline-right {
  border-right: solid #B1B1FF 4px;
}

textarea {
  background: #1A202D;
  color: white;
  height: 100%;
  width: 100%;
  padding: inherit;
  border: 0;
  font-size: 25px;
  vertical-align: middle;
  resize: none;
  padding-top: 16px;
}

button {
  background-color: #748CAB;
  color: #0A101D;
  border: 0;
  height: 25px;
  width: 80.55px;
  border-radius: 50px;
}

button:hover {
  background-color: #99A2C1;
  cursor: pointer;
}